$infra: #FF4746;
$do: #E8DA5E;
$re: #92B55F;
$mi: #487D76;
$ultra: #4B4452;

// Wasabi
$musi: #FF4242;
$dead: #F4FAD2;
$wasabi: #D4EE5E;
$polished: #E1EDB9;
$holding: #F0F2EB;

// Cream
$green: #CAFF42;
$clean: #EBF7F8;
$clblue: #D0E0EB;
$cmblue: #88ABC2;
$cblue: #49708A;

@import url(http://fonts.googleapis.com/css?family=Coda+Caption:800);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
$openf: 'Open Sans', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Chivo:900);
$chivof: 'Chivo', sans-serif;

@mixin colormix($class, $hex) {
    .#{$class} {
        color: $hex
    }
}

@mixin allcolors {
    @include colormix("wasabi", $wasabi);
    @include colormix("musi", $musi);
    @include colormix("ultra", $ultra);
    @include colormix("re", $re);
}

@mixin separator($back, $h1, $h2, $h3) {
    background: $back;
                
    h1 {
	color: $h1;
    }
    
    h2 {
	color: $h2;
        border-bottom: 0;
    }
    
    h3 {
	color: $h3;
    }

}

.deck-container {
    font-family: "Helvetica Neue", sans-serif;
    font-size:1.25em;
    background: $holding;

    .slide {
        @include separator($holding, $musi, $musi, $ultra);
        @include allcolors;

        .font-sans-1 {
            font-family: 'Open Sans';
        }
        
        h1 {
            font-family: $chivof;
        }

        h2 {
            font-family: $chivof;
        }
        
	pre {
	    border-color: $ultra;
	}

	code {
	    color: $ultra;
	}

	blockquote {
	    font-size:2em;
	    font-style:italic;
	    padding:1em 2em;
	    color:#000;
	    border-left:5px solid #ccc;

	    p {
		margin:0;
	    }

	    cite {
		font-size:.5em;
		font-style:normal;
		font-weight:bold;
		color:#888;
	    }
	}

	::-moz-selection{ background: $mi; color:#fff; }
	::selection { background:$mi; color:#fff; }

	a {
	    &, &:hover, &:focus, &:active, &:visited {
		color: $mi;
		text-decoration:none;
	    }

	    &:hover, &:focus {
		text-decoration:underline;
	    }
	}
    }

    .slide.separator1 {
        @include separator($infra, $do, $ultra, $do);

        h3 {
            font-family: $openf;
            font-size: 40px;
        }
    }

    .slide.separator2 {
        @include separator($cblue, $green, $green, $clblue);
        color: $clblue;

	a {
	    &, &:hover, &:focus, &:active, &:visited {
                color: $green;
            }
        }
    }

    
    .deck-status {
	font-size:0.6666em;
    }
    
    &.deck-menu {
	.slide {
	    background:#eee;
	}
	.deck-current, .no-touch & .slide:hover {
	    background:#ddf;
	}
    }
}

#geo-map {
  height: 280px;
  width: 640px;
}
